
.ServiceRecord {

    .addBtn {
      background: #0070f3;
      color: white;
      padding: 0.8rem 2rem;
      border: none;
      border-radius: 6px;
      font-size: 1rem;
      cursor: pointer;
      margin-bottom: 20px;

      &:hover {
        background: #0059c9;
      }
    }

    .activeRow {
      background-color: #e7f5ff;
      font-weight: 600;
    }


}